.about {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6d7966a6;
    background-size: cover;
    background-position: center;
}

.about_img {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
}

.about_text {
    width: 70%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    color: #02253B;
}

.about_text h1 {
    font-size: 2.5rem;
    color: #02253B;
    margin-bottom: 2rem;
}

.about_text p {
    /*text-indent: 1.5%;
    line-height: 1;*/
    font-size: 1.2rem;
    color: #02253B;
}

  
@media screen and (max-width: 1150px) {
.about {
    width: 100%;
}
}
  
@media screen and (max-width: 768px) {
.about{
    width: 100%;
}
.about_text h1 {
    font-size: 1.5rem
}

.about_text p {
    font-size: 1rem;
}
.about_img img {
    scale: 0.5;
}
}