.demo {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6d7966a6;
    background-size: cover;
    background-position: center;
}

.demo_img {
    height: 40%;;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
}

.demo_text{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.4rem;
    color: #02253B;
  
}


@media screen and (max-width: 1150px) {
    .demo {
        width: 90%;
        padding: 1.5rem;
    }
}
      
@media screen and (max-width: 768px) {
.demo{
    width: 88%;
}
.demo_text p {
    font-size: 1.3rem;
}
.demo_img img {
    scale: 0.8;
}
}

