.demo {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #6d7966a6;
    background-size: cover;
    background-position: center;
}

.video_container {
    position: relative;
    width: 80%;
    max-width: 800px;
    border: 2px solid #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-color: #000; /* Fundo preto para um contraste elegante */
}

.video_player {
    width: 100%;
    height: auto;
    display: block;
}

.video_toggle_button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.video_toggle_button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1150px) {
    .demo {
        width: 100%;
        
    }
}

@media screen and (max-width: 768px) {
    .demo {
        width: 100%;
    }

    .video_container{
        width: 100%;
    }
}
