/* Navbar Styles */
.app_navbar {
    position: sticky;
    top: 0;
    z-index: 3; 

    display: flex;
    justify-content: center; 
    
    padding: 10px 0;

    font-family: 'JetBrains Mono', monospace;
    font-size: 1.5rem;
    background-color: #6d7966a6; 
  }
  
  .app_navbar_list {
    list-style: none;
    
    width: 80%;

    display: flex;
    justify-content: space-between;
    
    padding: 2rem 0;
  }
  
  .app_navbar_list li a {
    text-decoration: none;
    color: #02253B; /* Dark blue color for the text */
    transition: color 0.3s;
  }
  
  .app_navbar_list li a:hover {
    color: #555; /* Change color on hover */
  }
  

@media screen and (max-width: 1150px) {
  .app_navbar_list {
    width: 90%;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .app_navbar {
    width: 100%;
  }
  .app_navbar_list li a{
    font-size: 1.0rem;
  }
} 